- provide :title, 'Login'

.page-header
  %h1= 'Login'

.row
  = form_for(:session, url: login_path, html: { class: 'form-signin' }) do |f|
    .form-group
      = f.email_field :email, class: 'form-control', placeholder: 'Email'
    .form-group
      = f.password_field :password, class: 'form-control', placeholder: 'Password'
    = f.submit 'Log in', class: 'btn btn-lg btn-primary btn-block'
