%header
  = image_tag gravatar_url("ralin.chimev@gmail.com", 80), alt: t('brand')
  %h1= t('articles.header.title')
  .actions
    - if user_signed_in?
      = link_to t('articles.header.new').upcase, new_article_path
      = link_to t('articles.header.wip').upcase, articles_path(status: 'wip')
      = link_to t('articles.header.all').upcase, articles_path(status: 'all')
  .total
    = "#{t('articles.header.number_of_posts').upcase}: #{@articles.total_count}"
