%header
  %h1= t('articles.header.title')

- if authenticated?
  = link_to t('articles.header.new').upcase, new_article_path

.article-list-total
  %p= "#{t('articles.header.number_of_posts').upcase}: #{@articles.size}"
