%header
  = image_tag gravatar_url("ralin.chimev@gmail.com", 64), alt: t('articles.header.title')
  %h1= t('articles.header.title')

- if authenticated?
  = link_to t('articles.header.new').upcase, new_article_path

.total
  %p= "#{t('articles.header.number_of_posts').upcase}: #{@articles.size}"
