- provide :title, t('.title')

%h1= t('.title')
%p= t('.overview')

.layout-features
  - t('.layout-features').each do |feature|
    .feature
      .feature-image
        %span{class: "fa fa-#{feature[:icon]}", "aria-hidden" => "true"}
      .feature-text
        %h2= feature[:title]
        %p= feature[:text]

%h2= t('.contact')
.layout-social
  = link_to icon('github-square', class: 'social-link'), 'https://github.com/ralinc', target: '_blank'
  = link_to icon('linkedin-square', class: 'social-link'), 'https://www.linkedin.com/in/ralinchimev', target: '_blank'
  = link_to icon('facebook-official', class: 'social-link'), 'https://facebook.com/ralin.chimev', target: '_blank'
  = link_to icon('envelope', class: 'social-link'), 'mailto:ralin.chimev@gmail.com'
