- provide :title, t('.title')
%h1= t('.title')
%p= t('.overview')

.featured
  - t('.featured').each do |item|
    .item
      .icon
        %span{class: "fa fa-#{item[:icon]}", "aria-hidden" => "true"}
      .text
        %h2= item[:header]
        %p= item[:text]

%h2= t('.links')
.social
  = link_to icon('github-square'), 'https://github.com/ralinc', target: '_blank'
  = link_to icon('linkedin-square'), 'https://www.linkedin.com/in/ralinchimev', target: '_blank'
  = link_to icon('facebook-official'), 'https://facebook.com/ralin.chimev', target: '_blank'
  = link_to icon('envelope'), 'mailto:ralin.chimev@gmail.com'
