- provide :title, t('.title')

.about
  %h1= t('.title')
  %section.overview
    .image
      = image_tag 'ralin.jpg', alt: 'Ralin Chimev'
    .text
      %p= t('.overview')
      %p= t('.blog-overview', years: Time.now.year - 1999)

  %section
    %ul.features
      = render partial: 'feature', collection: t('.features'), as: :feature

  %section
    %h2= t('.contact')
    = render partial: 'social'
