- provide :title, t('.title')

.about
  %h1= t('.title')
  %p= t('.overview')
  %p= t('.blog-overview', years: Time.now.year - 1999)

  %ul.features
    = render partial: 'feature', collection: t('.features'), as: :feature

  %h2= t('.contact')
  = render partial: 'social' 
