%nav
  .container
    .brand
      = image_tag gravatar_url("ralin.chimev@gmail.com", 32), alt: t('articles.header.title')
    = link_to t('nav.home'), root_path
    = link_to t('nav.about'), about_path
    = link_to t('nav.blog'), articles_path
    - if authenticated?
      = link_to t('nav.logout'), logout_path, method: :delete
