%nav.navbar
  .container
    %span.fa.fa-beer
    = link_to t('brand'), root_path, class: 'brand'
    = link_to t('nav.home'), root_path
    = link_to t('nav.about'), page_path('about')
    = link_to t('nav.blog'), articles_path
    - if user_signed_in?
      = link_to t('nav.logout'), destroy_user_session_path, method: :delete
    - else
      = link_to t('nav.login'), new_user_session_path

