!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield :title}" }
    %meta{ name: "author", content: "Ralin Chimev" }
    %title= yield :title
    = favicon_link_tag 'open-source-logo.png', type: 'image/png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - haml_tag_if current_page?(root_path), '.stage' do
      = render partial: 'layouts/navbar'
      .main.container
        = yield

    = render partial: 'layouts/footer'
